/* ================================================================== 
STRUCTURE & RESPONSIBILITIES
==================================================================== */
/*
{- 404 page start - 404 page end
}
*/
/* ==================================================================== */


/* 404 page start */
.e404-section{
  height: calc(100vh - 18rem);
  margin-bottom: 12rem;
}
.e404-section-flex{
  gap: 4rem;
}
.e404-title{
  font-size: 2.5rem;
  font-weight: 500;
}
.e404-anker-tag{
  color: white;
  font-size: 1.4rem;
  background-color: black;
  padding: 1rem 2rem;
  border-radius: 10rem;
}
/* 404 page end */




