/* ================================================================== 
STRUCTURE & RESPONSIBILITIES
==================================================================== */
/*
{- about page start - cart page end
  - about page titles
  - about content image section
  - about mission
  - about status
  - about team
  - about page breakpoints
}
*/
/* ==================================================================== */



/* about page start */
.about-section {
    margin-top: 3rem;
}

.about-section-flex {
    gap: 2rem;
}

/* about page titles start */
.about-page-titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about-title {
    font-size: 2.3rem;
    font-weight: 500;
    border-bottom: 2px solid black;
    padding-bottom: 3rem;
}

.about-subtitle {
    font-size: 1.4rem;
    color: #000000;
}


/* about content image section start */
.about-sections-content-image {
    display: flex;
    gap: 5rem;
    margin-top: 8rem;
}

.about-section-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section-image img {
    width: 445px;
    height: 445px;
}

.about-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.about-section-content-title {
    font-size: 2.5rem;
    font-weight: 500;
}

.about-section-content-des {
    font-size: 1.5rem;
    line-height: 5rem;
}
/* about content image section end */


/* about mission start */
.about-mission {
    margin-top: 15rem;
}
/* about mission end */



/* about status start */
.about-status-detail{
    margin-top: 15rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
}
.about-status-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}
.about-status-col-row1{
    font-size: 3rem;
    font-weight: 500;
}
.about-status-col-row2{
    font-size: 1.5rem;
}

/* about status end */







/* about team start */
.about-team{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 15rem;
}
.about-team-title{
    font-size: 2.7rem;
    font-weight: 500;
    text-align: center;
}
.about-team-item{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.about-team-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    width: 100%;
}
.about-team-image{
    background-color: #f3f7fa;
}
.about-team-image img{
    width: 100%;
    height: auto;
}
.about-team-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.about-team-person-name{
    font-size: 1.8rem;
    font-weight: 500;
}
.about-team-person-post{
    font-size: 1.4rem;
}

/* about team end */



/* about page breakpoints start */
@media(max-width: 1100px) {
    .about-status-detail{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10rem;
    }
    .about-team-grid{
        gap: 2rem;
    }
}
@media(max-width: 1020px) {
    .about-intro {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .about-intro-image img {
        width: 100%;
        height: auto;
    }

    .about-mission {
        flex-direction: column;
        gap: 2rem;
    }

    .about-mission-image img {
        width: 100%;
        height: auto;
    }

    .about-team-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 550px) {
    .about-status-detail{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10rem;
    }
}

@media(max-width: 400px) {
    .about-team-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}


/* about page breakpoints end */