/* ================================================================== 
STRUCTURE & RESPONSIBILITIES
==================================================================== */
/*
{- auth section start - auth section end

}
*/
/* ==================================================================== */


/* auth section start */
.auth-section {
    margin-top: 3rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

.auth-title {
    font-size: 2.3rem;
    font-weight: 500;
}

.auth-group {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 38rem;
    width: 100%;
}

.oauth-2-btn {
    background-color: white;
    border: 1px solid rgb(190, 170, 170);
    border-radius: 10rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 2rem;
    transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.4s ease-out;
}

@media(pointer: fine) {
    .oauth-2-btn:hover {
        background-color: rgb(248, 248, 252);
        border: 1px solid rgb(171, 169, 169);
    }
}

@media(pointer: coarse) {
    .oauth-2-btn:active {
        background-color: rgb(248, 248, 252);
        border: 1px solid rgb(171, 169, 169);
    }
}

.oauth-2-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-group-or {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
}

.auth-group-or div {
    height: 1px;
    width: 100%;
    background-color: rgb(159, 156, 156);
    flex: 1;
    border-radius: 10rem;
}

.auth-group-or span {
    flex-shrink: 0;
    font-size: 1.6rem;
}

.auth-input {
    width: 100%;
    height: 5rem;
    border: 1px solid rgb(190, 170, 170);
    border-radius: 10rem;
    padding: 2rem 2.5rem;
    font-size: 1.5rem;
    outline: none
}

.auth-input:focus-within {
    border: 2px solid rgb(88, 88, 92);
}

.auth-form-submit-btn {
    width: 100%;
    height: 5rem;
    background-color: black;
    color: white;
    border-radius: 10rem;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

/* auth section end */