/* ================================================================== 
STRUCTURE & RESPONSIBILITIES
==================================================================== */
/*
{- blog page start - blog page end
}
*/
/* ==================================================================== */


/* blog page start */



/* blog page hero start */
.blog-page-hero {
    height: 35rem;
    background-color: #F5F7FA;
}

.blog-page-hero-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    text-align: center;
}

.blog-page-hero-title {
    font-size: 3rem;
    font-weight: 500;
}

.blog-page-hero-subtitle {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.blog-page-hero-button {
    color: white;
    background-color: black;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
}

/* blog page hero end */



/* blog page card container start */
.blog-card-container {
    margin-top: 5rem;
}

.blog-card-container-flex {
    gap: 2rem;
}

.blog-card-title {
    font-size: 2.3rem;
    font-weight: 500;
}

.blog-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    row-gap: 15rem;
}

.blog-card-item {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

@media(pointer: fine) {
    .blog-card-item:hover {
        transform: scale(1.02);
    }
}

@media(pointer: coarse) {
    .blog-card-item:active {
        transform: scale(1.02);
    }
}

.blog-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-card-image img {
    width: 100%;
    height: auto;
}

.blog-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 80%;
    height: 20rem;
    padding: 2rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 87%;
    transform: translateX(-50%);
}

.blog-card-date{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}
.blog-card-date span{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1.2rem;
}
.blog-card-item-title{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
}
.blog-card-item-buttons{
    width: 100%;
}
.blog-card-item-button{
    background-color: transparent;
    font-size: 1.4rem;
    position: relative;
}
.blog-card-item-button-underline{
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    transition: width 0.3s ease-in-out;
}
@media(pointer: fine) {
    .blog-card-item:hover .blog-card-item-button-underline {
        width: 50%;
    }
}

@media(pointer: coarse) {
    .blog-card-item:active .blog-card-item-button-underline {
        width: 50%;
    }
}



.blog-card-pagination {
    margin-top: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
}

.blog-card-pagination span {
    font-size: 1.7rem;
}

.pagination-pagination-page-number {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    font-size: 1.4rem;
}

.pagination-pagination-page-number.open {
    background-color: #f2f3f5;
}

@media(pointer: fine) {
    .pagination-pagination-page-number:hover {
        color: rgb(82, 77, 77);
    }

    .pagination-pagination-page-number:active {
        color: rgb(82, 77, 77);
    }
}

.prev-next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 500;
}

@media(pointer: fine) {
    .prev-next-btn:hover {
        color: rgb(82, 77, 77);
    }

    .prev-next-btn:active {
        color: rgb(82, 77, 77);
    }
}





@media (max-width: 950px) {
    .blog-card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .blog-card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 380px) {
    .blog-card-pagination span {
        display: none;
    }

    .pagination-pagination-page-number[data-page-pagination="10"] {
        display: none;
    }
}

/* blog page hero end */



/* blog page end */