/* ================================================================== 
STRUCTURE & RESPONSIBILITIES
==================================================================== */
/*
{- contact page start - cart page end
  - contact page titles
  - contact form
  - contact details
  - contact help
}
*/
/* ==================================================================== */



/* contact page start */
.contact-section {
    margin-top: 3rem;
    margin-top: 0;
}

.contact-section-flex {
    gap: 2rem;
}

/* contact page titles start */
.contact-page-titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-title {
    font-size: 2.3rem;
    font-weight: 500;
    border-bottom: 2px solid black;
    padding-bottom: 3rem;
}

.contact-subtitle {
    font-size: 1.4rem;
    color: #000000;
}


/* contact form */
.contact-form-container {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    width: 100%;
    background-color: #F2F4F7;
    padding: 6rem 4rem;
    border-radius: 2.2rem;
    margin-top: 5rem;
}

.contact-form,
.contact-form-iamge {
    flex: 1;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-form-title {
    font-size: 2rem;
    font-weight: 500;
}

.contact-form-all-inputs-btns {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.input-groups {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}

.contact-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-input label {
    font-size: 1.3rem;
}

.contact-input input,
.contact-input textarea {
    background-color: white;
    height: 4.5rem;
    width: 100%;
    padding: 2rem;
    font-size: 1.4rem;
    border-radius: 10rem;
}

.contact-input input:focus-within,
.contact-input textarea:focus-within {
    box-shadow: 0 0 2px rgb(8, 8, 193);
}

.contact-input textarea {
    border-radius: 0.6rem;
    resize: vertical;
    min-height: 9rem;
    max-height: 20rem;
}

.contact-form-btn {
    font-size: 1.4rem;
    height: 4.5rem;
    background-color: black;
    color: white;
    border-radius: 0.6rem;
    margin-top: 2rem;
    transition: all 0.3s ease;
}

.contact-form-iamge img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 3.5rem;
    border-bottom-left-radius: 3.5rem;
}




/* contact details */
.contact-details{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
    margin-top: 5rem;
    padding: 7rem 0;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}
.contact-details-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cotact-details-col-row1{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F7FA;
    border-radius: 50%;
}

.cotact-details-col-row1 span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cotact-details-col-row2{
    font-size: 1.4rem;
}
.cotact-details-col-row3{
    font-size: 1.5rem;
}


/* contact help */
.contact-help{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.contact-help-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}
.contact-help-title{
    font-size: 2.5rem;
    font-weight: 500;
}
.contact-help-des{
    font-size: 1.3rem;
    color: #464545;
    text-align: center;
}
.contact-help-button{
    color: black;
    border: 1px solid black;
    padding: 0.7rem 2rem;
    font-size: 1.4rem;
    border-radius: 10rem;
}

@media(max-width: 1100px){
    .contact-details{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5rem;
    }
}

@media(max-width: 1050px) {
    .contact-form-iamge {
        display: none;
    }
}
@media(max-width: 555px) {
    .contact-details{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media(max-width: 550px) {
    .contact-form-container {
        padding: 6rem 2rem;
        margin-top: 5rem;
    }
}

@media(max-width: 500px) {
    .input-groups {
        flex-direction: column;
        gap: 2rem;
    }
}