/* ================================================================== 
STRUCTURE & RESPONSIBILITIES
==================================================================== */
/*
{- hero section 
  - hero swiper buttons
  - hero swiper
  - hero section breakpoints 
}
*/

/* 
{- suggestion section 
  - suggestion big screen 
    - suggestion col for all screen 
  - suggestion swiper css 
    - suggestion swiper 
      - suggestion swiper 
  - suggestion section breakpoints 
}
*/

/*
{- product section
  - product section breakpoints 
}
*/

/* 
{- offer section
}
*/

/* 
{
- trending section
}
*/

/* ==================================================================== */


/* hero section start */

.hero-section {
  background-color: white;
  padding: 0 2rem;
  height: auto;
}

.hero-section-flex {
  border-radius: 1rem;
  max-width: 100%;
}

.hero-swiper {
  height: 42rem;
  max-width: 1200px;
  border-radius: 1rem;
}

.hero-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
  background-color: #F5F7FA;
  padding-right: 2rem;
  padding-left: 4rem;
  height: 42rem;
  border-radius: 1rem;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
}

.hero-content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  z-index: 1;
}


.hero-deals {
  font-size: 1.5rem;
  color: #9594B5;
  white-space: nowrap;
}

.hero-title {
  font-size: 3.3rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  white-space: nowrap;
}


.hero-buttons {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 1.5rem;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.7rem 1.3rem;
  background-color: #f99494;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  font-size: 1.4rem;
  transition: all 0.3s ease;
}

@media(pointer: fine) {
  .hero-button:hover {
    opacity: 0.8;
  }
}

@media(pointer: coarse) {
  .hero-button:active {
    opacity: 0.8;
  }
}

.hero-button span {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-img img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* hero swiper buttons start */
.hero-swiper-buttons {
  justify-content: center;
  padding: 0 2rem;
  display: none;
}

.hero-swiper-buttons-flex {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-swiper-custom-pagination {
  bottom: -2rem;
  pointer-events: none;
}

.hero-swiper-bullet {
  width: 3rem;
  height: 0.3rem;
  pointer-events: auto;
  border-radius: 0.5rem;
}

@media(max-width: 768px) {
  .hero-img img {
    right: calc(-100px + (120 * ((100vw - 600px) / (768 - 600))));
  }
}

@media(max-width: 500px) {
  .hero-swiper {
    height: 30rem;
  }

  .hero-slide {
    height: 30rem;
    padding-left: 2rem;
  }

  .hero-title {
    font-size: clamp(2.7rem, calc(33 / 500 * 100vw), 3.3rem);
  }
}



/* suggestion section start */
.suggestion-section {
  margin-top: 5rem;
}


/* suggestion big screen start */
.suggestion-section-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}


/* suggestion col for all screen start */
.suggestion-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.suggestion-col1 {
  background-color: #EDEFFF;
  grid-row: span 2;
  grid-column: span 2;
}

.suggestion-col2 {
  background-color: #e7f1f0;
  grid-column: span 2;
  max-height: 24.5rem;
}

.suggestion-col3 {
  background-color: #F3F3F3;
  padding-right: 1rem;
  grid-column: span 2;
  max-height: 24.5rem;
}

@media(pointer: fine) {
  .suggestion-col:hover {
    transform: scale(1.02);
  }
}

@media(pointer: coarse) {
  .suggestion-col:active {
    transform: scale(1.02);
  }
}

.suggestion-content {
  color: black;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
  padding: 3rem;
  padding-right: 2rem;
  max-width: 200px;
  height: 100%;
}

.suggestion-col1 .suggestion-content {
  padding: 5rem 3rem;
  padding-right: 2rem;
}

.suggestion-status-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.suggestion-title {
  font-size: 1.7rem;
  font-weight: 500;
}

.suggestion-status {
  font-size: 1.3rem;
}

.suggestion-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: black;
}

.suggestion-button span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestion-button-icon {
  border-radius: 50%;
  border: 1px solid black;
  width: 1.5rem;
  height: 1.5rem;
}

.suggesion-image {
  height: 100%;
}

.suggesion-image img {
  width: auto;
  height: 100%;
}

/* suggestion col for all screen end */

/* suggestion big screen end */


/* suggestion swiper start */
.suggestion-swiper-section {
  display: none;
}

.suggestionSwiper {
  border-radius: 1rem;
  height: fit-content;
}

.suggestion-swiper-slide {
  border-radius: 1rem;
  height: fit-content;
}

/* suggestion swiper buttons start */

.suggestion-swiper-buttons {
  display: none;
}

.suggestion-swiper-custom-pagination {
  bottom: -3rem;
}

.suggestion-swiper-bullet {
  width: 1rem;
  height: 1rem;
  pointer-events: auto;
  border-radius: 0.5rem;
}

/* suggestion swiper buttons end */

/* suggestion swiper end */


/* suggestion section breakpoints start */
@media(max-width: 1165px) {
  .suggestion-col {
    max-height: 25rem;
    overflow: hidden;
  }

  .suggestion-col1 {
    max-height: 100%;
    grid-row: span 2;
  }

  .suggestion-content {
    flex-shrink: 0;
  }

  .suggesion-image {
    flex-shrink: 1;
  }
}



@media(max-width: 950px) {
  .suggestion-section {
    margin-top: 3rem;
  }

  .suggestion-section-grid {
    display: none;
  }

  .suggestion-swiper-section {
    display: flex;
    padding: 0 2rem;
  }

  .suggestion-col {
    width: 100%;
    max-height: 30rem;
    height: 25rem;
  }
}

@media(max-width: 500px) {
  .suggestion-col {
    height: 20rem;
  }
}

/* suggestion section breakpoints end */

/* suggestion section end */




/* product section start */
.product-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
}

.product-section-flex {
  width: 100%;
  gap: 2rem;
}

.product-section-flex .product-title {
  font-size: 2.5rem;
  font-weight: 500;
}

.product-grid {
  display: grid;
  gap: 2.5rem;
  row-gap: 3.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.product-card:nth-child(5) {
  grid-column: span 2;
  height: 38rem;
  background-color: #F5F7FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 21rem 2rem;
  border-radius: 0.7rem;
}

.product-card:nth-child(5) .product-image {
  height: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.product-card:nth-child(5) .product-image img {
  width: auto;
  height: 100%;
}

.product-type-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.product-type {
  font-size: 1.4rem;
}

.product-section-tagline {
  font-size: 2rem;
  font-weight: 500;
}

.product-button {
  background-color: black;
  color: white;
  width: fit-content;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.8rem 1.3rem;
  border-radius: 0.5rem;
}

@media(pointer: fine) {
  .product-button:hover {
    opacity: 0.8;
  }
}

@media(pointer: coarse) {
  .product-button:active {
    opacity: 0.8;
  }
}

/* product section breakpoints start */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    row-gap: 2rem;
  }
}

/* product section breakpoints end */

/* product section end */







/* offer section start */
.offer-section {
  margin-top: 10rem;
}

.offer-section-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.offer-title {
  font-size: 2.5rem;
  font-weight: 500;
}

.offer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 489px;
  background-color: #F5FAF7;
  padding: 3rem;
  padding-left: 5rem;
  position: relative;
  border-radius: 1rem;
}


.offer-section-img img {
  height: 100%;
  width: auto;
}

.offer-badge-discount {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.offer-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-left: 8rem;
}

.offer-time-range {
  font-size: 1.4rem;
}

.offer-section-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

.offer-countdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 3rem;
}

.offer-countdown-field {
  background-color: white;
  width: 6rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem
}

.offer-section-btn {
  background-color: black;
  background-color: #f99494;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  margin-top: 3rem;
}

@media(pointer: fine) {
  .offer-section-btn:hover {
    opacity: 0.8;
  }
}

@media(pointer: coarse) {
  .offer-section-btn:active {
    opacity: 0.8;
  }
}

@media(max-width: 1000px) {
  .offer-container {
    flex-direction: column;
    gap: 7rem;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 10rem;
    height: fit-content;
  }

  .offer-section-img img {
    height: auto;
    width: 100%
  }

  .offer-section-content {
    padding-left: 0;
  }

  .offer-badge-discount {
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
  }
}

/* offer section end */






/* trending section start */
.trending {
  margin-top: 7rem;
}

.trending-item-img {
  min-height: fit-content;
  position: relative;
  overflow: hidden;
  border-radius: 0;
}

.trending-item-img img {
  transition: all 0.3s ease-in-out;
}

.trending-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.trending-item-img:hover .trending-hover-overlay {
  opacity: 1;
}

.trending-item-img:hover img {
  transform: scale(1.1);
}

.trending-hover-overlay-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.trending-hover-overlay-text span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trending-hover-overlay-text-icon {
  width: 2.6rem;
  height: 2.6rem;
  background-color: white;
  color: black;
  border-radius: 50%;
}

/* trending section end */